
#game{
  text-align: center;
}

.ficha {
  border-radius: 10px;
  height: 45px;
  width: 45px;
  background: red;
  display: inline-block;
  margin: 2px;
}
.blanca {
  border-radius: 10px;
  height: 45px;
  width: 45px;
  display: inline-block;
  margin: 2px;
}
.negra {
  border-radius: 10px;
  height: 45px;
  width: 45px;
  display: inline-block;
  margin: 2px;
}
